html {
  font-size: 10px;
}
@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Exo_2/Exo2-Regular.ttf') format('ttf'), url('../fonts/Exo_2/exo-2-v4-latin_cyrillic-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf') format('ttf'), url(../fonts/Open_Sans/open-sans-v15-latin_cyrillic_cyrillic-ext-600.woff2) format('woff2'); 
}


/* Send message form */

.message-form__input{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 72rem;
  height: 12rem;
  padding-top: 3.4rem;
  padding-left: 2rem;
  margin-bottom: 1.2rem;
  font-family: Exo2, sans-serif;
  font-size: 1.5rem;
  letter-spacing: .01em;
  border-width: 1px;
  border-color: rgb(241, 241, 241);
  border-style: solid;
  resize: none;
}
.message-form__input::-webkit-input-placeholder{
  color: rgb(204, 204, 204);
}
.message-form__input:-ms-input-placeholder{
  color: rgb(204, 204, 204);
}
.message-form__input::-ms-input-placeholder{
  color: rgb(204, 204, 204);
}
.message-form__input::placeholder{
  color: rgb(204, 204, 204);
}
.message-form__button{
  display: block;
  margin: 0;
  padding: 1.6rem 2rem;
  font-family: OpenSans, sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: .08em;
  color: rgb(255, 255, 255);
  background-color: rgb(23, 190, 207);
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.1);
  border: none;
}
@media (min-width: 768px) {
  .message-form__input{
    width: 97.8rem;
    height: 17.6rem;
    padding-top: 3rem;
    padding-left: 3.6rem;
    margin-bottom: 1.8rem;
    font-size: 1.8rem;
  }
  .message-form__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}


/* Search form */

.forum-search{
  position: relative;
}
.forum-search__input{
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 4.8rem;
  width: 50rem;
  height: 5.6rem;
  font-family: Exo2, sans-serif;
  font-size: 1.5rem; 
  letter-spacing: .01em;
  border-width: 1px;
  border-color: rgb(241, 241, 241);
  border-style: solid;
}
.forum-search__input::-webkit-input-placeholder{
  color: rgb(204, 204, 204);
}
.forum-search__input:-ms-input-placeholder{
  color: rgb(204, 204, 204);
}
.forum-search__input::-ms-input-placeholder{
  color: rgb(204, 204, 204);
}
.forum-search__input::placeholder{
  color: rgb(204, 204, 204);
}
.forum-search__icon{
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
}
.search-icon{
  width: 2.6rem;
  height: 2.6rem;
  fill: rgb(204, 204, 204);
}
@media (min-width: 768px) {
  .forum-search__input{
    width: 49.8rem;
    height: 5.6rem;
    padding-left: 10rem;
    font-size: 1.8rem;
  }
  .forum-search__icon{
    left: 6rem;
  }
}
